<p-toast position="top-right"></p-toast>

<div class="flex flex-col divcls">
    <div class="card cardcls file-container">

        <!-- TABLE WRAPPER -->
        <div class="table-container">

            <p-table #dt1
                [value]="newsletterList"
                dataKey="Id"
                [rows]="10"
                [loading]="loading"
                [rowHover]="true"
                [showGridlines]="true"
                [paginator]="true"
                scrollable="true"
                scrollHeight="70vh"
                [globalFilterFields]="newsletterFields">

                <!-- CAPTION -->
                <ng-template #caption>
                    <div class="table-toolbar">
                        <div class="search-container">

                            <button pButton
                                label="Clear"
                                class="p-button-outlined clear-button"
                                icon="pi pi-filter-slash"
                                (click)="clear(dt1)">
                            </button>

                            <button pButton
                                icon="pi pi-file-excel"
                                class="export-btn"
                                (click)="exportToExcel()">
                            </button>

                            <p-iconfield iconPosition="left">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>

                                <input pInputText
                                    type="text"
                                    [(ngModel)]="globalFilter"
                                    (input)="onGlobalFilter(dt1, $event)"
                                    placeholder="Search newsletter" />

                                <p-inputicon *ngIf="filterApplied"
                                    (click)="clearFilter(dt1)">
                                    <i class="pi pi-times"></i>
                                </p-inputicon>
                            </p-iconfield>

                            <p-button
                                label="Add"
                                class="btncls"
                                (onClick)="openAddNewsletterDialog()">
                            </p-button>

                        </div>
                    </div>
                </ng-template>

                <!-- HEADER -->
                <ng-template #header>
                    <tr>

                        <th *ngFor="let field of newsletterFields"
                            pSortableColumn="{{field}}"
                            style="min-width:150px;">

                            {{ newsletterUiFields[newsletterFields.indexOf(field)] }}

                            <p-sortIcon [field]="field"></p-sortIcon>

                            <p-columnFilter
                                [field]="field"
                                matchMode="contains"
                                type="text"
                                display="menu"
                                [showOperator]="false"
                                [showMatchModes]="false"
                                [showAddButton]="false">
                            </p-columnFilter>

                        </th>

                        <!-- ACTION -->
                        <th frozen="true"
                            style="width:10rem; background:#f4f4f4; position:sticky; right:0;">
                            Action
                        </th>

                    </tr>
                </ng-template>

                <!-- BODY -->
                <ng-template #body let-newsletter>
                    <tr>

                        <td *ngFor="let field of newsletterFields">
                            {{ newsletter[field] }}
                        </td>

                        <!-- ACTION -->
                        <td frozen="true"
                            style="width:10rem; position:sticky; right:0; background:white;">

                            <p-button
                                severity="success"
                                icon="pi pi-pen-to-square"
                                (onClick)="editNewsletter(newsletter)">
                            </p-button>

                            &nbsp;

                            <p-button
                                severity="danger"
                                icon="pi pi-trash"
                                (onClick)="deleteNewsletter(newsletter.id)">
                            </p-button>

                        </td>

                    </tr>
                </ng-template>

                <!-- EMPTY -->
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="10">No newsletters found.</td>
                    </tr>
                </ng-template>

                <!-- LOADING -->
                <ng-template #loadingbody>
                    <tr>
                        <td colspan="10">Loading newsletters...</td>
                    </tr>
                </ng-template>

            </p-table>

            <!-- ADD -->
            <div *ngIf="addenable">
                <app-addnewsletter
                    [display]="display"
                    (dataReloaded)="onDataReloaded()">
                </app-addnewsletter>
            </div>

            <!-- EDIT -->
            <div *ngIf="editenable">
                <app-editnewsletter
                    [editdisplaynewsletter]="editdisplaynewsletter"
                    [newsletterdata]="newsletterdata"
                    (editdisplayChange)="backToMain($event)">
                </app-editnewsletter>
            </div>

        </div>

    </div>
</div>