<div class="flex flex-col md:flex-row gap-8">
  <div class="md:w-1/2">
    <div class="card">

      <p-dialog header="Edit Feedback"
        [(visible)]="editdisplayfeedback"
        [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '55vw'}"
        [modal]="true"
        [closable]="false"
        [closeOnEscape]="false">

        <!-- HEADER -->
        <ng-template pTemplate="header">
          <span>
            <h5>Edit Feedback</h5>
          </span>

          <a class="close-button" (click)="close()">
            <i class="pi pi-times iconcls" style="cursor: pointer;"></i>
          </a>
        </ng-template>

        <!-- FORM START -->
        <form #feedbackForm="ngForm" (ngSubmit)="editbtn(feedbackForm)">

          <!-- BLOCK 1 -->
          <div class="card flex flex-col gap-4 cardflx">
            <div class="flex flex-wrap items-start gap-6">

              <!-- USER NAME -->
              <div class="field">
                <label>User Name <span style="color:red">*</span></label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text"
                    [(ngModel)]="user_name"
                    name="user_name"
                    required maxlength="50" />
                </div>

                <small class="p-error"
                  *ngIf="feedbackForm.submitted && !user_name">
                  User Name is required
                </small>
              </div>

              <!-- USER EMAIL -->
              <div class="field">
                <label>User Email <span style="color:red">*</span></label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="email"
                    [(ngModel)]="user_email"
                    name="user_email"
                    required maxlength="50" />
                </div>

                <small class="p-error"
                  *ngIf="feedbackForm.submitted && !user_email">
                  Email is required
                </small>
              </div>

              <!-- USER ROLE -->
              <div class="field">
                <label>User Role</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text"
                    [(ngModel)]="user_role"
                    name="user_role"
                    maxlength="50" />
                </div>
              </div>

              <!-- RATING -->
              <div class="field">
                <label>Rating</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text"
                    [(ngModel)]="start_rating"
                    name="start_rating"
                    min="1" max="5" />
                </div>
              </div>

            </div>
          </div>

          <!-- BLOCK 2 -->
          <div class="card flex flex-col gap-4 cardflx">
            <div class="flex flex-wrap items-start gap-6">

              <!-- DESCRIPTION -->
              <div class="field widthcls">
                <label>Description</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <textarea pInputTextarea
                    rows="4"
                    [(ngModel)]="fedbck_desc"
                    name="fedbck_desc"
                    maxlength="200">
                  </textarea>
                </div>
              </div>


              <!-- STATUS -->
              <div class="field">
                <label>Status</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <p-toggleswitch
                    [(ngModel)]="checked"
                    name="checked">
                  </p-toggleswitch>
                </div>
              </div>

            </div>
          </div>

          <!-- FOOTER -->
          <div class="space-x-4 footercls">
            <p-button label="Save"
              type="submit"
              [disabled]="!feedbackForm.valid">
            </p-button>

            <p-button label="Clear"
              (click)="clear()"
              class="custom-red-button">
            </p-button>
          </div>

        </form>
        <!-- FORM END -->

      </p-dialog>

    </div>
  </div>
</div>