<div class="flex flex-col md:flex-row gap-8">
  <div class="md:w-1/2">
    <div class="card">

      <p-dialog header="Edit Test Directory" [(visible)]="editdisplaytestdirectory" [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '55vw'}" [modal]="true" [closable]="false" [closeOnEscape]="false">

        <ng-template pTemplate="header">
          <span>
            <h5>Edit Test Directory</h5>
          </span>
          <a class="close-button" (click)="close()">
            <i class="pi pi-times iconcls" style="cursor: pointer;"></i>
          </a>
        </ng-template>

        <!-- FORM START -->
        <form #testForm="ngForm" (ngSubmit)="editbtn(testForm)">

          <div class="card flex flex-col gap-4 cardflx">
            <div class="flex flex-wrap items-start gap-6">

              <div class="field">
                <label>Testdirectory Code <span style="color: red;">*</span></label>
                <div class="flex flex-wrap gap-2 textcls">
                  <span>{{ testdirectorycode }}</span>
                </div>
              </div>

              <!-- <div class="field">
                <label>Head Name <span style="color: red;">*</span></label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text"
                    [(ngModel)]="testdirectoryhead"
                    name="testdirectoryhead"
                    required maxlength="50" />
                  <small class="p-error"
                    *ngIf="testForm.submitted && !testdirectoryhead">
                    Head Name is required
                  </small>
                </div>
              </div> -->

              <!-- ✅ Add Industry field -->
              <div class="field">
                <label for="industry">Industry <span style="color: red;">*</span></label>
                <div class="flex flex-wrap gap-2 textcls">
                  <p-select [options]="gettestdirectoryindustryist" [(ngModel)]="industry" optionLabel="indust_name"
                    optionValue="id" placeholder="Select industry" name="industry" required>
                  </p-select>
                </div>
                <small class="p-error" *ngIf="testForm.submitted && !industry">
                  Industry is required.
                </small>
              </div>

              <div class="field">
                <label>Testdirectory Name <span style="color: red;">*</span></label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text" [(ngModel)]="testdirectoryname" name="testdirectoryname" required
                    maxlength="50" />
                  <small class="p-error" *ngIf="testForm.submitted && !testdirectoryname">
                    Name is required
                  </small>
                </div>
              </div>

              <div class="field">
                <label>Description</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <!-- <input pInputText type="text"
                    [(ngModel)]="testdescription"
                    name="testdescription" /> -->
                  <textarea pInputText [(ngModel)]="testdescription" name="testdescription"></textarea>
                </div>
              </div>

              <!-- <div class="field">
                <label>Specimen</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text"
                    [(ngModel)]="specimen"
                    name="specimen"
                    maxlength="50" />
                </div>
              </div> -->

              <!-- <div class="field">
                <label>Unit</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text"
                    [(ngModel)]="unit"
                    name="unit" />
                </div>
              </div>

              <div class="field">
                <label>Ref Range</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text"
                    [(ngModel)]="refrange"
                    name="refrange" />
                </div>
              </div> -->



              <!-- <div class="field">
                <label>Order</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <input pInputText type="text"
                    [(ngModel)]="testorder"
                    name="testorder" />
                </div>
              </div> -->

              <div class="field">
                <label>Status</label>
                <div class="flex flex-wrap gap-2 textcls">
                  <p-toggleswitch [(ngModel)]="checked" name="checked"></p-toggleswitch>
                </div>
              </div>

            </div>
          </div>

          <!-- FOOTER -->
          <div class="space-x-4 footercls">
            <p-button label="Save" type="submit" [disabled]="!testForm.valid"></p-button>
            <p-button label="Clear" (click)="clear()" class="custom-red-button"></p-button>
          </div>

        </form>
        <!-- FORM END -->

      </p-dialog>

    </div>
  </div>
</div>