.btncls{
    float: right;
}

.cardcls{
    margin-top: -25px;
}

.cardflx{
   padding: 0px !important;
}

.dropcls{
    min-width: 197px;
    max-width: 197px;
}

.textcls{
    padding-top: 5px;
}

.datecls{
    min-width: 197px;
    max-width: 197px;
}

.my-toggle {
    width: 100px;
    height: 50px;
  }

  .footercls{
    float: right;
  }

.custom-red-button ::ng-deep .p-button {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
}

.iconcls{
    padding-left: 500px;
    font-size: medium;
  }

  .footercls{
    float: right;
  }

  .btnimgcls{
    padding-left: 10px;
  }

  .atagcls{
    padding-bottom: 10px;
  }
